@use "../../main/styles/var";

#widget-01 {
  & .like-btn {
    &:hover {
      color: var.$color-dark-burgundy;
    }
  }

  & .liked-color {
    color: var.$color-dark-burgundy;
  }

  & .content {
    background-image: var.$bg-dotted-light;
    background-size: 8px 8px;

    & strong {
      font-weight: 500;
    }

    p {
      font-size: 14px;
    }

    & .icons-group {
      padding-top: var.$spacing-base;
      padding-bottom: var.$spacing-base;
      width: fit-content;
      margin: 0 auto;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 1) 60%,
        rgba(0, 0, 0, 0)
      );

      & .icons-row {
        margin: var.$spacing-base auto;
        display: flex;
        justify-content: center;
        gap: var.$spacing-base;
        animation: translateX 3s ease-in-out infinite alternate;

        &:nth-child(odd) {
          animation-delay: -3s;
        }

        &:hover {
          animation-play-state: paused;
        }

        & .icon {
          border: var.$border-light;
          background: var.$bg-transparent-light;
          backdrop-filter: blur(3px);
          padding: 6px;
          border-radius: var.$small-radius;

          & svg {
            width: 33px;
            height: 33px;
            fill: url(#widget-01_light-gradient) var.$color-dark-burgundy;
          }
        }
      }
    }
  }

  @keyframes translateX {
    from {
      transform: translateX(20px);
    }
    to {
      transform: translateX(-20px);
    }
  }

  & .card-wrapper {
    display: flex;
    gap: var.$spacing-base;

    & .card {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      font-size: 13px;

      & p {
        color: var.$color-dark-burgundy;
        text-align: center;
      }

      & i {
        font-size: 16px;
      }
    }
  }

  & .card-final {
    font-size: 11px;
    color: var.$color-dark-burgundy;
    text-align: center;
  }

  & .gh-image {
    object-fit: cover;
    object-position: 100% -14px;
    width: 100%;
    min-height: 105px;
  }
}

.dark #widget-01 {
  & .like-btn {
    &:hover {
      color: var.$color-light-pink;
    }
  }

  & .liked-color {
    color: var.$color-light-pink;
  }

  & .content {
    background-image: var.$bg-dotted-dark;

    & .icons-group {
      & .icons-row {
        & .icon {
          border: var.$border-dark;
          background: var.$bg-transparent-dark;

          & svg {
            fill: url(#widget-01_dark-gradient) var.$color-light-pink;
          }
        }
      }
    }
  }

  & .card-wrapper {
    & .card {
      & p {
        color: #ffd7ee;
      }
    }
  }

  & .card-final {
    color: #ffd7ee;
  }
}
