// Spacing
$spacing-base: 8px;

// Backgrounds
$bg-dotted-light: radial-gradient(#efefef 1px, transparent 0);
$bg-dotted-dark: radial-gradient(#323232 1px, transparent 0);
$bg-transparent-light: rgba(0, 0, 0, 0.1);
$bg-transparent-dark: rgba(255, 255, 255, 0.15);

// Shades
// Widget 01
$color-dark: #211e1f;
$color-light: #d3d3d3;

// Widget 02
$color-light-red: #f7e7e7;
$color-medium-red: #d46060;
$color-dark-red: #b71818;

// Widget 03
$color-light-orange: #f7eae1;
$color-medium-orange: #d27333;
$color-dark-orange: #7d4c2c;

// Widget 04
$color-light-yellow: #fffae4;
$color-medium-light-yellow: #f7de71;
$color-medium-yellow: #f4ba51;
$color-dark-yellow: #8e600d;

// Widget 05
$color-light-green: #e5f6dc;
$color-medium-green: #87c482;
$color-dark-green: #105718;

// Widget 06
$color-light-aqua-blue: #f3feff;
$color-medium-aqua-blue: #39c4dc;
$color-dark-aqua-blue: #0E7490;
$color-muted-aqua-blue: #D6E3E4;
$color-muted-dark-aqua-blue: #2A3F40;

// Widget 07 (navy blue/blue)
// Widget 08 (purple)
// Widget 09 (magenta)
// Widget 10 (peach)
// Widget 11 (brown-ish)
// Widget 12

// Future widget
$color-light-purple: #e7e8f7;
$color-medium-purple: #8159bc;
$color-dark-purple: #673ea6;

// Grays
$gray-light: #afafaf;
$gray-medium: #8c8c8c;
$gray-medium-dark: #5F5F5F;
$gray-dark: #3a3a3a;

// Borders
$border-light: 1px solid #cfcfcf;
$border-dark: 1px solid #000000;

// Transitions
$short-ease-out: all 200ms ease-out;
$med-ease-out: all 400ms ease-out;

// Shadows
$tight-shadow: 1px 1px 4px;

// Border-Radius
$small-radius: 4px;

// Widget Font Base
$font-size-sm: 12px;
$font-size-base: 13px;
$font-size-med: 14px;
