@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-archivo;
}

body {
  @apply font-dmsans mx-auto max-w-screen-2xl bg-zinc-100 dark:bg-neutral-950 dark:text-zinc-100;
}

body canvas,
body img {
  display: initial;
  vertical-align: initial;
}

#js-main-container section {
  min-width: 100%;
  max-height: 495px;
}

@layer utilities {
  .grid-col-custom {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    justify-content: center;
  }
}
