@use "../../main/styles/var";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap");

#widget-02 {
  height: fit-content;
  width: var.$widget-base;

  & .like-btn {
    &:hover {
      color: var.$color-dark-red;
    }
  }

  & .liked-color {
    color: var.$color-dark-red;
  }

  & .content {
    font-family: "Noto Sans Mono", "Inter", "Archivo", sans-serif;

    & .display {
      width: 100%;
      margin: -8px auto 0;
      border-radius: 0 0 var.$small-radius var.$small-radius;
      background: #fdfeff;
      text-align: end;
      padding: var.$spacing-base 16px;
      display: flex;
      justify-content: space-between;
      border: 1px solid var.$color-light-red;
      border-top: 0;

      & .history-btn {
        align-self: start;
        color: var.$color-dark-red;
        padding: var.$spacing-base;
        margin: var.$spacing-base * -1;
        transition: var.$short-ease-out;
        isolation: isolate;

        &:hover {
          color: #000;
        }

        &:active {
          transform: scaleY(0.75);
        }
      }

      & .expressions {
        width: 100%;
        padding-right: 8px;

        & .history {
          color: var.$gray-medium;
          font-size: 14px;
          overflow: hidden;

          & li {
            width: 100%;
            max-height: 20px;
          }

          @for $num from 1 through 4 {
            & li:nth-child(#{$num}) {
              transition:
                opacity 0.5s ease-in-out,
                max-height 0.25s ease-in-out,
                transform 0.5s ease-in-out;
              transition-delay: calc((4 - #{$num}) * 0.5s);
            }

            & li:nth-child(#{$num}).active {
              transform: translateY(-100% * $num);
              opacity: 0;
              max-height: 0;
              transition:
                opacity 0.25s ease-out,
                max-height 1s ease-out,
                transform 0.25s ease-out;
              transition-delay: $num * 0.25s;
            }
          }
        }

        & .current-val {
          font-size: 48px;
          font-weight: 500;
          line-height: 1.2;
          margin-left: 8px;
          color: #000;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
          height: 55px;

          &::-webkit-scrollbar,
          &::-webkit-scrollbar-thumb {
            display: none;
          }
        }
      }
    }

    & .calculator {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      place-items: center;
      row-gap: var.$spacing-base;
      margin: var.$spacing-base * 2 auto;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: var.$small-radius;
        font-size: 18px;
        transition: var.$med-ease-out;

        & i {
          pointer-events: none;
        }

        &:active {
          transform: scale(0.9);
          transition: var.$short-ease-out;
        }

        &.operation-btns {
          color: var.$color-dark-red;
          background: var.$color-light-red;

          &[data-calc-val="="] {
            background: var.$color-dark-red;
            color: var.$color-light-red;
            grid-column: span 2;
            width: 78%;
          }

          &[data-calc-val="^"] {
            padding-left: 5px;

            & sup {
              font-size: 11px;
              font-weight: 800;
            }
          }

          &:hover {
            color: var.$color-light-red;
            background: var.$color-medium-red;
          }
        }

        &.operation-helper-btns {
          color: var.$gray-medium;

          &[data-calc-val="."] {
            font-size: 36px;
            font-weight: 800;
            margin-top: -16px;
          }

          &:hover {
            color: var.$color-medium-red;
          }
        }

        &.num-btns {
          font-size: 22px;
          font-weight: 500;

          &:hover {
            color: var.$color-dark-red;
          }
        }
      }
    }
  }
}

.dark #widget-02 {
  & .like-btn {
    &:hover {
      color: var.$color-medium-red;
    }
  }
  & .liked-color {
    color: var.$color-medium-red;
  }

  & .content {
    & .display {
      background: rgba(0, 0, 0, 0.5);
      border: var.$border-dark;

      & .history-btn {
        color: var.$color-medium-red;

        &:hover {
          color: #fff;
        }
      }

      & .current-val {
        color: #fff;
      }
    }

    & .calculator {
      & button {
        &.operation-btns {
          color: var.$color-medium-red;
          background: #000000;

          &[data-calc-val="="] {
            background: #c84444;
            color: var.$color-light-red;
          }

          &:hover {
            background: var.$gray-dark;
            color: var.$color-medium-red;
          }
        }
      }
    }
  }
}
