@use "../../main/styles/var";

#widget-05 {
  min-height: 480px;

  & .like-btn {
    &:hover {
      color: var.$color-light-green;
    }
  }

  & .liked-color {
    color: var.$color-medium-green;
  }

  & .content {
    font-size: 14px;

    & .content-head {
      margin-left: -6px;

      & button {
        padding: 4px 6px;
        margin-right: 4px;
        letter-spacing: 0.15px;
        color: var.$gray-medium;
        transition: all 100ms ease-in;

        &.active {
          color: var.$color-medium-green;
          text-shadow: 0px 0px 1px var.$color-medium-green;
        }

        &:hover {
          color: var.$color-medium-green;
          text-shadow: 0px 0px 1px var.$color-medium-green;
        }

        &:active {
          transform: scale(0.95);
        }

        & i {
          color: var.$color-dark-green;
        }
      }
    }

    & .content-body {
      & > div > input {
        outline-color: var.$color-medium-green;
        padding: 4px 8px;
        margin: 6px 0px;
        background-color: #EFEFEF;
        border: 1px solid #D2D2D2;
        border-radius: 2px;
        width: 100%;
        transition: all 100ms ease-in;

        &::placeholder {
          font-size: 13px;
        }

        &:focus {
          background-color: transparent;
          outline: var.$color-medium-green solid 2px;
        }
      }

      & > div {
        & .card-group {
          max-height: 375px;
          overflow-y: auto;
          overflow-x: hidden;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 5px;
          padding-right: 11px;
          margin-right: -11px;

          & .card {
            &.initial {
              & .card-head {
                & .card-heading--name {
                  & .company-name {
                    display: none;
                  }
                }

                & .card-heading--price {
                  & > div {
                    display: block;
                    font-size: 16px;

                    & .company-price--indicator {
                      opacity: 0.60;
                      font-size: 22px;
                      margin-bottom: -6px;
                      display: block;
                    }

                    & .company-price--value {
                      display: none;
                    }
                  }

                  & .company-price--label {
                    display: block;
                    white-space: nowrap;

                  }
                }
              }

              & .card-body {
                & .card-body--details {
                  display: flex;
                  flex-direction: column;

                  & li:nth-child(n + 4):nth-child(-n + 9) {
                    display: none;
                  }
                }
              }

              & .card-footer {
                & .expand-btn {
                  &:hover {
                    & i {
                      padding-left: 4px;
                      transform: scaleX(1.25);
                      transform-origin: left;
                    }
                  }
                }
              }
            }

            &.active {
              grid-column: 1 / -1;

              & .card-footer {
                & .expand-btn {
                  &:hover {
                    & i {
                      padding-left: 9px;
                      transform: scaleX(1.25);
                      transform-origin: right;
                    }
                  }
                }

              }
            }

            width: 100%;
            border: 1px solid #D2D2D2;
            background-color: #efefef;
            border-radius: 3px;
            padding: 8px;

            & .card-head {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              & .card-heading--name {
                display: flex;
                align-items: center;
                gap: 5px;

                & .logo-wrapper {
                  width: 28px;
                  height: 28px;
                  aspect-ratio: 1/1;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: #b4b4b4;

                  & img {
                    width: 16px;
                    opacity: 0.75;
                    filter: grayscale(100%);
                  }
                }

                & .company-symbol {
                  font-size: 19px;
                  text-transform: uppercase;
                }

                & .company-name {
                  font-size: 11px;
                  color: var.$gray-medium-dark;
                  margin-bottom: -4px;
                }
              }

              & .card-heading--price {
                text-align: end;

                & > div {
                  display: flex;
                  gap: 6px;
                  font-size: 19px;

                  & .company-price--indicator {
                    opacity: 0.60;
                  }

                  & .company-price--value {
                    opacity: 0.80;
                  }
                }

                & .company-price--label {
                  font-size: 11px;
                  color: var.$gray-medium;
                  margin-top: -6px;
                  display: block;
                }
              }
            }

            & .card-body {
              display: grid;
              grid-template-columns: 2fr 1fr;

              & .card-body--details {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 5px;

                & li {
                  display: flex;
                  flex-direction: column;

                  & .card-body--details_value {
                    font-size: 15px;
                  }

                  & .card-body--details_label {
                    font-size: 11px;
                    color: var.$gray-medium;
                    display: block;
                    margin-top: -3px;
                    white-space: nowrap;
                  }
                }
              }

              & .card-body--graph {
              }
            }

            & .card-footer {
              margin-top: -16px;

              & .expand-btn {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: -4px;
                margin-bottom: -6px;
                font-size: 12px;
                padding: 4px 6px;
                color: var.$gray-medium-dark;
                transition: var.$short-ease-out;

                & i {
                  margin-left: -2px;
                  padding-left: 6px;
                  transition: var.$short-ease-out;
                }

                &:hover {
                  color: var.$gray-dark;
                }

                &:active {
                  transform: scale(0.95);
                }
              }

            }
          }
        }

        & .hidden {
          display: none;
        }
      }
    }

    & .content-footer {
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 12px;
      color: var.$color-dark-green;
      text-align: end;
    }
  }
}

.dark #widget-05 {
  & .content {
  }
}
