// Backgrounds
$bg-dotted-light: radial-gradient(#efefef 1px, transparent 0);
$bg-dotted-dark: radial-gradient(#323232 1px, transparent 0);
$bg-transparent-light: rgba(0, 0, 0, 0.1);
$bg-transparent-dark: rgba(255, 255, 255, 0.15);

// Shades
$accent-dark-purple: #550921;
$accent-light-pink: #db8aa1;

// Borders
$border-light: 1px solid #cfcfcf;
$border-dark: 1px solid #000000;
